<h1>CURSOS</h1>

<form action="{% url 'cursos' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>Crear curso<h1>
        </legend>
        {% if error_message %}
        <p class="error"><strong>{{ error_message }}</strong></p>
        {% endif %}
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre"/>
        <br/>
        <input type="submit" value="Enviar">
    </fieldset>
</form>

<ul>
    {% for curso in cursos %}
    <li>{{ curso }}</li>
    {% endfor %}
</ul>